
<div class="col-sm-2 col-md-2 col-lg-2">

 <div class="container left">
 <h4 style= "text-align:center;color:#000000">Profile</h4>
 <hr>
   <ul class="ul-left">
         <li><a id="dileep-a" href="<%= profiles_index_path %>">User</a></li>
         <li><a id="dileep-a" href="<%= profiles_my_questions_path %>">My Questions</a></li>
         <li><a id="dileep-a" href="<%= profiles_my_answers_path %>">My Answers</a></li>
         <br>

    </ul>
</div>
</div>
