<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="custom-font2">Notifications</span><span class="caret"></span></a>
<ul class="dropdown-menu it_is">
<% if @notification = Notification.order(id: :desc).where(user_id: current_user.id) %>
    <% @notification.each do |notify| %>
        <% user = User.find(notify.commenter_id).username %>
      <% if notify.context == "like" %>

        <li> <b><%= user %></b> liked your answer</li>
        <li role="separator" class="divider"></li>
      <% end %>
      <% if notify.context == "answer" %>
        <li> <b><%= user %></b> answered your question</li>
        <li role="separator" class="divider"></li>
      <% end %>
    <% end %>

  <% else %>
  <li> <p style="text-align:center">No notification yet</p></li>
  <li role="separator" class="divider"></li>
<% end %>
</ul>
