<html>
<body>
<div class="col-sm-3 col-md-3 col-lg-3">

 <div class="container left">
 <h4 style="text-align:center;color:#000000">Top Questions</h4>
 <hr>
   <ul class="ul-left">
    <% @popular = Answer.order(likes: :desc).limit(10) %>
    <% @popular.each do |answer| %>
        <% question = Question.find(answer.question_id)%>
         <li><a id="dileep-a" href="#"><%= question.body %></a></li>
         <br>
    <% end %>

    </ul>
</div>
</div>
</body>
  </html>
