// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circle{
  position: relative;
  margin-top: 50%;
  border-radius: 50%;
  left:25%;
}
.outer-div{
  position:relative;
  left:-11%;
  background-color: #f5f5f5;
  max-width: 90%;
  height: 200px;
  top:15%;
}
.name-p1{
  position: relative;
  left:11%;
  top:22.5%;
}
.name-p{
  position: relative;
  left:11%;
  top:9%;
}

.name-p1 p{

color: black;
font-family: serif;
font-size: 19px;

}
.name-p1 p1{
  position: relative;
color: black;
font-family: serif;
font-size: 15px;
width: 353px;
display: inline-block;
left: 10%;
}
.right-div{
  position: relative;
  left:-13%;
  background-color: #f5f5f5;
  margin-top:-45.5%;
  height:auto;
  max-width: 100%;
}
.name-p p2{
  position: relative;
  left:-10%;
color: black;
font-family: serif;
font-size: 17px;
}
.name-p p3{
  position: relative;
  margin-top:1.5%;
  left:-10%;
  color: black;
  font-family: serif;
  font-size: 15px;
  display: inline-block;
}

.name-p p4{
  position: relative;
  margin-top: 0.5%;
  left:-10%;
  color: black;
  font-family: serif;
  font-size: 15px;
  display: inline-block;
}

.it_is {

    overflow-y:scroll;
    max-height: 200px;
}
.it_is li{


    min-width: 400px;


}
