// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//edited by dileep from here

.im-centered
{
  position: relative;
  left: 5%;
    margin-top:-5%;
  width: 20%;
  height: 40%;
border-radius: 3%;
background-color:#f5f5f5;
}
.im-centered_2
{
  position: absolute;
    top:19%;
  left: 30%;
  min-width: 35%;
  min-height: 68%;
border-radius: 0%;
box-shadow: 10px 10px 30px 20px grey  ;
background-color:#eeeeee;
}
.im-centered_1
{
  position: absolute;
  top:14%;
  left: 30%;
  min-width: 35%;
  min-height: 80%;
border-radius: 0%;
box-shadow: 10px 10px 30px 20px grey  ;
background-color:#eeeeee;
}

.im-centered_5
{
  position: relative;
  left: 5%;
    margin-top:1%;
  width: 20%;
border-radius: 3%;
background-color:#f5f5f5;
}
.im-centered_6
{
  position: relative;
  left: 5%;
  margin-top:1%;
  width: 20%;
  max-height: 40%;
border-radius: 3%;
background-color:#f5f5f5;
}
.name
{
  text-align: center;
  position:relative;
  top:15%;
  left:54%;

}
.name1
{
  position: relative;
height: 106px;
  }
h2
{
  font-family: algerian;
  position: relative;
  left:40%;
}
hr{
height: 1px;
    color: #FFFFFF;
    background: #ed1d61;
    font-size: 0;
    border: 0;
  }
  .align_1
  {
    position: relative;
    left:-25%;
  }
  .position
  {
    position: relative;
    left: 87%;

  }
  .position1
  {
    position: relative;
    left: 48%;

  }
  .position2
  {
    position: relative;
    left: 7%;
    margin-top:10%;
  }
  .login_button
  {
    position: relative;
    left:66%;
  }
  .align_2{
    position: relative;
    left: 60%;

  }
  .align_2 a{
  color:#0077b5;
  font-family: algerian;

  }
  .align_2 a:hover{
    background-color: white;
    color: #dd4b39;

  }
  .field label{
    font-family: algerian;
  }
.post{
  position: relative;
  left:57%;
}
.additional{
  position: relative;
  margin-top:9%;
}
.align_3{
  position: relative;
  left: 70%;

}
.sign_up{
  position: relative;
  left:38.5%;
}
.submit_profile_pos
{
position: relative;
    left:15%;
    margin-top:-3.5%;
}
.position3
{
  position: relative;
  margin-top:2%;
}
.no_other_class
{
  position: relative;
  left:1%;
  margin-top: -2%;
}
.position4
{
  position: relative;
  left:15.5%;
  margin-top:-5%;
}

.no_other_class_1
{
  position: relative;
  left:1%;
  margin-top: 3%;
}
